.description__userinfo {
  // border: 1px solid red;
  margin: 0 0 5px 0;
  color: #bbb;
  height: 200px;
  padding: 0 0 0 15px;
  overflow-y: auto;
  line-height: 30px;
  font-size: 20px;
  flex: 1 1 auto;
}