.appear {
  animation: appear 1s 0s 1 forwards;
}

.disappear {
  animation: disappear .5s 0s 1 forwards;
}

//появление
@keyframes appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

//исчезновение
@keyframes disappear {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

// увеличиваем ширину блока
@keyframes increaseWidth {
  0% {
    width: 200px;
  }
  100% {
    width: 280px;
  }
}

// уменьшаем ширину блока
@keyframes decreaseWidth {
  0% {
    width: 280px;
  }
  100% {
    width: 200px;
  }
}
// увеличиваем ширину блока
@keyframes upWidth {
  0% {
    width: 185px;
  }
  100% {
    width: 270px;
  }
}

// уменьшаем ширину блока
@keyframes downWidth {
  0% {
    width: 270px;
  }
  100% {
    width: 185px;
  }
}

@keyframes swim-out {
  0% {
    width: 0;
  }
  100% {
    flex: 0 0 200px;
    width: 200px;
  }
}

@keyframes hide {
  0% {
    width: 200px;
  }
  100% {
    width: 0;
  }
}