.wrapper {
  height: 100vh;
  background-color: rgb(159, 160, 160);
  color: #fff;
  overflow: hidden;
}

.phoneBook {
  max-width: 920px;
  background-color: rgb(236, 236, 205);
  margin: 0 auto;
  color: #000;
  position: relative;
  height: 100vh;
}

.phoneBook__row {
  display: flex;
  justify-content: space-between;
}


//===============================
// Медиа запросы для адаптива
@media (min-width: 768px) {
  .phoneBook {
    margin: 10px 10px 0 10px;
    border-radius: 15px;
    height: 680px;
  }
}

@media (min-width: 992px) {
  .phoneBook {
    margin: 50px auto 0;
  }
}
