@import './resetStyle.scss';
@font-face {
  font-family: 'Ubuntu Condensed';
  src: url('./assets/fonts/UbuntuCondensed-Regular.ttf');
}


html,
body {
  font-family: 'Ubuntu Condensed', sans-serif;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: #383636;
  box-shadow: 0 0 2px rgba(0, 0, 0, .2) inset;
}

::-webkit-scrollbar-thumb {
  background: #939393;
  border-radius: 8px;
  border: 3px solid #d4d4d4;
}

::-webkit-scrollbar-thumb:hover {
  background: #7c7c7c;
}



