.description__userphoto {
  margin: 0 0 30px 0;
  background: url('../../assets/img/u-logo.png') 50%/100% no-repeat;
  // box-shadow: -2px 0 5px #bbb;
  border: 5px solid #bbb;
  flex: 0 0 150px;
  border-radius: 50%;
  width: 150px;
  align-self: center;
}