@import '../../animationsStyles.scss';

// .phoneBook__column {
//   // border: 1px solid #fff;
// }

.phoneBook__groups {
  display: none;
  background-color: rgb(56, 54, 54);
  color: #fff;
  order: 1;
  // flex: 0 0 200px; // задается в keyframes
}

.groups__row {
  opacity: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  &:last-child {
    margin: 0;
  }
}

.groups__newGroup {
  cursor: pointer;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  margin: 15px 0 30px 0;
  background: url('../../assets/img/addGroup.png') 50%no-repeat;
  border-radius: 50%;
  border: 2px solid #bbb;
  align-self: center;
  flex: 0 0 50px;
  width: 50px;
  height: 50px;
}


@media (min-width: 768px) {
  .phoneBook__groups {
    position: relative;
    display: block;
    height: 680px;
    border-radius: 15px 0 0 15px;
    animation-name: swim-out;
    animation-iteration-count: 1;
    animation-duration: .3s;
    animation-fill-mode: forwards;
    .groups__row {
      animation-name: appear;
      animation-iteration-count: 1;
      animation-duration: 1s;
      animation-delay: .2s;
      animation-fill-mode: forwards;
    }
  }
}


@media (max-width: 767px) {
  .show {
    display: block;
    position: absolute;
    height: 681px;
    width: 200px;
    animation: swim-out .3s 1 forwards;
    .groups__row {
      animation: appear 1s .2s 1 forwards;
    }
  }
  .hide {
    animation: hide .3s 1 forwards;
    .groups__row {
      animation: disappear .2s 1 forwards;
    }
  }

  .increaseWidth {
    animation-name: increaseWidth;
    animation-iteration-count: 1;
    animation-duration: .5s;
    animation-fill-mode: forwards;
  }
  .decreaseWidth {
    animation-name: decreaseWidth;
    animation-iteration-count: 1;
    animation-duration: .5s;
    animation-fill-mode: forwards;
  }
  .upWidth {
    animation-name: upWidth;
    animation-iteration-count: 1;
    animation-duration: .5s;
    animation-fill-mode: forwards;
  }
  .downWidth {
    animation-name: downWidth;
    animation-iteration-count: 1;
    animation-duration: .5s;
    animation-fill-mode: forwards;
  }
}