.cards__card {
  cursor: pointer;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  display: flex;
  justify-content: space-between;
  padding-bottom: 5px;
  border-bottom: 1px solid #ccc;
  margin: 15px 0 0 0;
}

.card__col {
  // border: 1px solid red;
  margin: 0 20px 0 0;
}

.card__img {
  background: url('../../assets/img/u-logo.png') 50%/100% no-repeat;
  border-radius: 50%;
  box-shadow: -2px 0 5px #bbb;
  border: 3px solid #bbb;
  flex: 0 0 70px;
  height: 70px;
}

.card__info {
  font-style: italic;
  flex: 1 1 auto;
}

.card__number {
  margin: 0;
}
