.description__setting {
  // border: 1px solid green;
  // background: url('../../img/addGroup.png') 50%no-repeat;
  // border-radius: 50%;
  align-self: center;
  text-align: center;
  flex: 0 0 auto;
  margin: 0 0 10px 0;
  // width: 100px;
}


.description__newphone {
  cursor: pointer;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  margin: 0 15px 0 0;
  background: url('../../assets/img/new-phone.png') 50%no-repeat;
  border-radius: 50%;
  // flex: 0 0 50px;
  // flex: 0 0 auto;
  // width: 50px;
  display: inline-block;
  // background: url('../../img/info16.png') 50%no-repeat;
  width: 50px;
  height: 50px;
}


.description__editcard {
  cursor: pointer;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  // margin: 0 0 10px 0;
  background: url('../../assets/img/edit-card.svg') 50%no-repeat;
  border-radius: 50%;
  // align-self: center;
  // flex: 0 0 auto;
  display: inline-block;
  // background: url('../../img/info16.png') 50%no-repeat;
  width: 50px;
  height: 50px;
}

.groups__setting {
  // background: url('../../img/addGroup.png') 50%no-repeat;
  // border-radius: 50%;
  align-self: center;
  text-align: center;
  flex: 0 0 auto;
  margin: 0 0 10px 0;
  // width: 100px;
}