.groups__listGroup {
  cursor: pointer;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  margin: 0 0 40px 0;
  width: 185px;
  height: 500px;
  flex: 1 1 auto;
  align-self: center;
  text-align: center;
  line-height: 30px;
  font-size: 16px;
  color: #bbb;
  font-weight: 600;
  overflow-y: auto;
  overflow-x: hidden;
}