.modal__header {
  font-weight: 600;
  font-size: 20px;
  margin: 15px;
  display: flex;
  justify-content: space-between;
}

.modal__close {
  cursor: pointer;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
