.form__flex__row {
  display: flex; // эти стили будет в media
  flex-direction: column;
}

.form__column {
  margin: 20px 10px 10px 10px;
  // border: 1px solid red;
}
.form__logo {
  flex: 1 1 150px; // эти стили будет в media
  align-self: center; // убрать на большом экране
  // width: 150px;
  // margin: 0 auto;
}

.logo__img {
  /* flex: 1 1 auto; */
  width: 150px;
  height: 150px;
  background: url("../../assets/img/no-photo.png") 50%/100% no-repeat;
  border: 5px solid #bbb;
  border-radius: 50%
}

.insert__img {
  border: 2px solid #bbb;
  border-radius: 50%;
  margin: 10px 0 0 0;
  height: 35px;
  width: 35px;
  align-self: center;
  cursor: pointer;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  background: url('../../assets/img/insert.png') 50% no-repeat;

  .phone__img_field {
    height: 35px;
    width: 35px;
  }
  input[type=file] {
    cursor: pointer;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  }
}

.phone__row {
  // border: 1px solid red
  position: relative;
}

.phone {
  font-size: 20px;
  /* font-weight: 600; */
  align-self: center;
  // text-align: center;
}

.phone input {
  line-height: 25px;
  width: 160px;
  height: 30px;
  font-size: 20px;
  background: transparent;
  border-radius: 2px;
  border: 1px solid #bbb;
  color: #fff;
}