.false_field {
  background-color: rgba(56, 54, 54, 0);
  color: #bbb;
  text-align: left;
  font-size: 16px;
  padding: 0 0 0 10px;
  height: 25px;
  width: 160px;
  margin-bottom: 5px;
  border: 1px solid #bbb;
}

.false_field_ok_btn,
.false_field_cancel_btn {
  border: 2px solid #bbb;
  border-radius: 50%;
  margin: 10px 10px 0 5px;
  height: 30px;
  width: 30px;
  align-self: center;
  cursor: pointer;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.false_field_ok_btn {
  display: inline-block;
  background: url('../../assets/img/checkmark24.svg') 50% no-repeat;
}


.false_field_cancel_btn {
  margin: 0;
  display: inline-block;
  background: url('../../assets/img/cancel-24.svg') 50% no-repeat;
}