.body__header {
  display: flex;
  justify-content: space-between;
  margin: 15px 0 0 0;
}


.header__img {
  text-align: left;
  font-size: 30px;
}

.header__img_groupName {
  font-weight: 600;
  display: none;
  vertical-align: sub;
}

.header__search {
  flex: 1 1 auto; // делаем стркоу поиска на всю длину flex блока
  text-align: right;
}

.header__search {
  flex: 1 1 auto; // делаем стркоу поиска на всю длину flex блока
  text-align: right;
}

.search__string {
  height: 50px;
  width: 30px; // такой размер только при мобильной версии, вообще по идее он будет изначально 0 и только после клика на него оно расшириться
  font-size: 20px;
  border-radius: 5px;
  margin: 0 10px 0 15px;
  background: url('../../assets/img/search.png') 100% 12px no-repeat;
  cursor: pointer;
}

.search__string:focus {
  width: 90%;
  box-shadow: 1px 1px 1px #bbb;
  border: 1px solid #bbb;
  background: transparent;
  cursor: default;
  transition: all .5s;
}

.header__menu {
  cursor: pointer;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}



//Media
@media (min-width: 768px) {
  .menu__img {
    display: none;
  }
}

@media (min-width: 425px) {
  .header__img {
    &_groupName {
      display: inline-block;
    }
    min-width: 200px;
  }
}
