@import '../../animationsStyles.scss';

li {
  position: relative;
}
li:hover {
  color: #fff
}
li:active {
  color: #fff
}
.listElValue {
  display: inline-block;
}

.active_list_el {
  color: #fff;
}
.groups__controls_wrapper {
  display: inline-block;
  position: absolute;
  left: 200px;
}
.groups__edit_controls {
  position: absolute;
  display: flex;
  justify-content: space-between;
}
.groups__controls_wrapper_show {
  opacity: 1;
}
.groups__controls_wrapper_hide {
  opacity: 0;
}
.rename_group,
.delete_group {
  cursor: pointer;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  width: 30px;
  height: 30px;
}
.rename_group {
  background: url('../../assets/img/rename-group.png') 50%no-repeat;
}
.delete_group {
  background: url('../../assets/img/delete-group.png') 50%no-repeat;
}