@import '../../animationsStyles.scss';

//Колонка сописанием по карточке
.phoneBook__description {
  display: none;
  background-color: rgb(56, 54, 54);
  order: 3;
  // flex: 0 0 200px; //задается в keyframes
}

.description__row {
  opacity: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@media (min-width: 768px) {

  .phoneBook__description {
    display: block;
    height: 680px;
    border-radius: 0 15px 15px 0;
    animation-name: swim-out;
    animation-iteration-count: 1;
    animation-duration: .3s;
    animation-fill-mode: forwards;

    .description__row {
      animation-name: appear;
      animation-iteration-count: 1;
      animation-duration: 1s;
      animation-delay: .2s;
      animation-fill-mode: forwards;
    }
  }
}

@media (max-width: 767px) {
  .show {
    display: block;
    position: absolute;
    height: 681px;
    width: 200px;
    animation: swim-out .3s 1 forwards;
    .description__row {
      animation: appear 1s .2s 1 forwards;
    }
  }
  .hide {
    animation: hide .3s 1 forwards;
   .description__row {
      animation: disappear .2s 1 forwards;
    }
  }
}
