// .setting_column {
//   // border: 1px solid red;
// }

.groups__setting {
  // background: url('../../img/addGroup.png') 50%no-repeat;
  // border-radius: 50%;
  align-self: center;
  text-align: center;
  flex: 0 0 auto;
  margin: 0 0 10px 0;
  // width: 100px;
}

.setting__img {
  cursor: pointer;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  display: inline-block;
  background: url('../../assets/img/settings24_1.png') 50%no-repeat;
  width: 30px;
  height: 30px;
}

.edit__img {
  cursor: pointer;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  display: inline-block;
  background: url('../../assets/img/edit-group.png') 50%no-repeat;
  width: 30px;
  height: 30px;
}

.edit__stop__img {
  cursor: pointer;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  background: url('../../assets/img/stop-edit.png') 50%no-repeat;
  width: 30px;
  height: 30px;
  display: none;
}